# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE
.idea/
.vscode/

# Docker build cache
.docker-cache

.hf_cache
.modelscope_cache
rag_store
node_modules
.next
models
.DS_Store
rag/statics
.env